<div class="menu-lateral">
  <ion-menu side="end" menuId="primary-menu" contentId="profile-menu">
    <ion-header>
      <ion-title class="title">Ajustes</ion-title>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item class="itens">
          <span>Ajustes</span>
        </ion-item>
        <ion-item class="itens">
          <span>Ajustes</span>
        </ion-item>
        <ion-item class="itens">
          <span>Ajustes</span>
        </ion-item>
        <ion-item class="itens">
          <span>Ajustes</span>
        </ion-item>
        <ion-item class="itens">
          <span>Ajustes</span>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
</div>